button {
  margin: 10px;
  background-color: #ff8a34;
  width: 150px;
  height: 50px;
  font-size: 1.2em;
}

.atividade-text {
  align-items: center;
  justify-content: center;
  display: inline-block;
  border-bottom: 3px solid #ff8a34;
  padding-bottom: 2px;
}

.resumo-text {
  align-items: center;
  justify-content: center;
  display: inline-block;
  border-bottom: 3px solid #ff8a34;
  padding-bottom: 1px;
}

/* .btn-excluir {
  background-color: #ff8a34;
  width: 150px;
  height: 50px;
  font-size: 1.2em;
}

.btn-excluir {
  background-color: #ff8a34;
  width: 150px;
  height: 50px;
  font-size: 1.2em;
} */
