<style>
  #intro {
    background-image: url(/backgroundLogin.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    height: 100vh;
  }
</style>

<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
  <div
    class="mask d-flex align-items-center h-100"
    style="background-color: rgba(0, 0, 0, 0.8)"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
          <form
            (submit)="onSubmit()"
            [formGroup]="cadastroForm"
            class="bg-white rounded shadow-5-strong p-5"
          >
            <h1 class="cadastro-text">Cadastro</h1>
            <br />
            <br />
            <!-- Nome -->
            <div class="form-outline mb-4" data-mdb-input-init>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                formControlName="name"
              />
              <label class="form-label" for="name">Nome</label>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4" data-mdb-input-init>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                formControlName="email"
              />
              <label class="form-label" for="email">Endereço de Email</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4" data-mdb-input-init>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                formControlName="password"
              />
              <label class="form-label" for="password">Senha</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="col text-center">
              <button
                type="submit"
                class="btn btn-block btn-login"
                style="background-color: #ff8a34"
              >
                Cadastrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
