<nav class="main-header navbar navbar-expand navbar-dark custom-navbar">
  <!-- Left navbar links -->
  <ul class="navbar-nav" style="text-align: center; align-items: center">
    <li class="nav-item">
      <!-- <a href=" " class="navbar-brand"><b class="text-light">App Clientes</b></a> -->
      <a routerLink="/" class="navbar-brand"
        ><img class="img-logo" src="/AgendaProLogo.png"
      /></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <!-- <a href="../../index3.html" class="nav-link">Lista Clientes</a> -->
      <a
        text-align="center"
        routerLink="/home"
        routerLinkActive="active"
        class="nav-link"
        >Home</a
      >
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <!-- <a href="/quem-somos" class="nav-link">Quem somos?</a> -->
      <a routerLink="/usuario" routerLinkActive="active" class="nav-link"
        >Usuário</a
      >
    </li>
  </ul>
</nav>
